/***** CARD STYLES START *****/

.card {
  @apply
  w-full
  sm:w-1/2
  md:w-1/2
  xl:w-1/4
  p-4
}

.cardLink {
  @apply
  block 
  shadow-sm
  hover:shadow-md
  border-2
  border-zinc-900/10
  shadow-zinc-900/10
  rounded-md 
  overflow-hidden
  h-full
}

/***** CARD HEADER STYLES START *****/

.cardHeader {
  @apply 
  relative 
  pb-64 
  overflow-hidden
  shadow-sm
}

/***** FAVORITES BUTTON STYLES START *****/

.favButton {
  @apply 
  h-6 
  w-6
  m-2 
  ml-auto  
  text-zinc-900/80
  hover:text-red-500 
  flex
}

.removeFavButton {
  @apply 
  h-6 
  w-6
  m-2 
  ml-auto  
  text-red-500 flex
}

.heartIcon {
  @apply 
  h-6 
  w-6 
  mx-auto 
  my-auto
}

/***** FAVORITES BUTTON STYLES END *****/

/***** CARD IMAGE STYLES START *****/

.cardImg {
  @apply 
  absolute 
  inset-0
  max-h-56
  w-full 
  object-contain
  my-4
  px-4
}

.cardLink img {
  transition: transform .3s ease-in-out; 
}

.cardLink img:hover {
  transform: scale(1.02)
}

/***** CARD IMAGE STYLES START *****/

/***** CARD HEADER STYLES END *****/

/***** CARD BODY STYLES START *****/

.cardBody {
  @apply 
  p-4 
  h-full 
  flex 
  flex-1 
  flex-col
}

.brand {
  @apply 
  mt-2 
  mb-2 
  font-bold 
  text-base
  underline
  decoration-wavy
  text-zinc-900/80
  decoration-zinc-900/50
  hover:text-blue-500
}

.cardTitle {
  @apply 
  mt-2 
  font-light
  text-zinc-900/80
  text-sm 
  truncate 
  mb-2
}

/***** STAR ICON STYLES START *****/

.starIcon {
  @apply 
  h-4 
  w-4 
  text-amber-400 
  my-auto
}

.emptyStarIcon {
  @apply 
  text-zinc-900/80 
  h-4 
  w-4 
  my-auto
}

/***** STAR ICON STYLES END *****/

/***** ADD TO CART BUTTON STYLES START *****/

.addToCart {
  @apply
  mx-auto 
  text-center
  w-full
  mt-2
}

.addToCartButton {
  @apply 
  inline-flex 
  justify-center 
  w-full
  rounded-md 
  shadow-sm
  shadow-zinc-900/10
  px-2
  py-2 
  bg-blue-600
  text-white
  text-sm
  hover:bg-gradient-to-b 
  hover:bg-yellow-300
}

.removeButton {
  @apply 
  inline-flex 
  justify-center 
  w-full
  rounded-md 
  shadow-sm
  shadow-zinc-900/10
  px-2
  py-2 
  bg-red-600
  text-sm 
  text-white
  hover:bg-yellow-300
}

.shoppingCartIcon {
  @apply 
  my-auto 
  h-5 
  w-6 
}

.buttonText {
  @apply 
  font-bold
}

/***** ADD TO CART BUTTON STYLES END *****/

/***** CARD BODY STYLES END *****/

/***** CARD STYLES END *****/