.brand {
  @apply
  text-sm 
  tracking-widest 
  mt-4
  mb-2 
  hover:text-blue-600
}

.image {
  @apply 
  lg:w-1/3 
  inset-0 
  max-h-max 
  w-full 
  py-4 
  my-auto 
  px-4
  object-scale-down 
  shadow-sm
  border-2
  border-zinc-900/10
  shadow-zinc-900/10
  rounded-md 
}

.productDetailText {
  @apply 
  border-b-2 
  mb-4 
  border-zinc-900/10 
  pb-6
}

/***** ADD TO CART BUTTON STYLES START *****/

.addToCart {
  @apply
  mx-auto 
  text-center
  w-full
  mt-2
  px-4
}

.addToCartButton {
  @apply 
  inline-flex 
  justify-center 
  w-full
  rounded-md 
  shadow-sm
  shadow-zinc-900/10
  px-10
  py-2 
  bg-blue-600
  text-white
  text-sm
  hover:bg-gradient-to-b 
  hover:bg-yellow-300
}

.removeButton {
  @apply 
  inline-flex 
  justify-center 
  w-full
  rounded-md 
  shadow-sm
  shadow-zinc-900/10
  px-2
  py-2 
  bg-red-600
  text-sm 
  text-white
  hover:bg-yellow-300
}

.shoppingCartIcon {
  @apply 
  my-auto 
  h-5 
  w-6 
}

.buttonText {
  @apply 
  font-bold
}

/***** ADD TO CART BUTTON STYLES END *****/

.favButton {
  @apply 
  h-10
  w-10
  ml-auto  
  text-zinc-900/80
  hover:text-red-500 
  block
}

.removeFavButton {
  @apply 
  h-10 
  w-10 
  ml-auto  
  text-red-500 flex
}

.heartIcon {
  @apply 
  h-10 
  w-10 
  mx-auto 
  my-auto
}

.rating {
  @apply 
  flex 
  flex-row 
  mb-2
}

.rating .starIcon, .emptyStarIcon {
  @apply 
  h-4 
  w-4
  my-auto
}

.starIcon {
  @apply
  text-yellow-300 
}

.emptyStarIcon {
  @apply 
  text-zinc-900/80 
}