.nav {
  @apply
  flex
  justify-between
  bg-transparent
  p-6
  z-10
}

.logo {
  @apply
  flex
  items-center
  flex-shrink-0	
}

.logo .link {
  @apply 
  font-semibold 
  text-xl 
  tracking-tight
  flex
  flex-row
}

.categoryNav {
  @apply
  flex
  py-2
  max-w-7xl
  mx-auto
  bg-transparent
  rounded-lg
  overflow-x-auto
  sm:justify-start
  md:justify-center
}

.categoryLink {
  @apply
  tracking-widest
  text-black
  md:hover:border-x-4
  md:hover:border-yellow-300
  decoration-dashed
  px-6
  py-2
  hover:underline-offset-[5px]
  mx-0
  flex
}

.categoryLink h1 {
  @apply mx-4
}

.logoText {
  font-family: 'Oswald', sans-serif;
  @apply
  text-3xl 
  text-yellow-300 
  ml-2 
  my-auto
  tracking-widest
  
}

.disclosureButton {
  @apply
  bg-zinc-50 
  hover:bg-zinc-400/10 
  text-zinc-900/80 
  items-center 
  w-full
  py-2 
  px-2
  text-sm 
  font-medium 
  flex 
}

.logoBox {
  @apply 
  bg-gradient-to-b 
  from-blue-600 
  via-blue-700 
  to-blue-600 
  w-[5.6rem] 
  h-10 
  rounded-md
}

.disclosurePanel {
  @apply 
  sm:hidden  
  flex 
  flex-col 
  border-2 
  rounded-md 
  border-zinc-900/10 
  shadow-md 
  shadow-zinc-900/10 
  mb-4 
  mx-2
}